<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/styles.css">
        
        <title>MinesWeeper</title>
</head>

        <body onload="cargarTablero();">
                <a class="button" href="http://localhost/MinesWeeper/index.html">Home</a>
                <h1 class="center">MinesWeeper</h1>
                <h2 id="username"></h2>

                <div id="tablerominas" class="tablero">

                </div>
        </body>

        <script src="../Controllers/game.js"></script>

</body>

</html>
