<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Minesweeper</title>
</head>
<body>
    <a class="button" href="http://localhost/JUEGO-DE-MINAS/index.html">Home</a>

    <div class="center">
    <h1>Game Username</h1>
    
    <form action="">
        
        <label for="username">Unsername</label>
        <input class="input"  type="text" name="username" required>          
       
    </form>
    <button class="button" name="aceptar" onclick="login()" >Continue</button> 

    <script src="../Controllers/login.js" charset="utf-8"></script>
    
</body>
</html>